---
import Stub from '../../components/ArticleStub.astro';
import MainLayout from '../../layouts/Main.astro';

import { getSlugs } from '../../data/blogs';
const posts = getSlugs(Astro.fetchContent('./*.md'));

---
<MainLayout title="Blog">
    <h1>Blog</h1>

    <div class="staggered">
    {posts.map((post, i) => 
        <post-container style={`--index: ${i}`}>
        <Stub 
            url={post.url}
            meta={`${post.date} • ${post.minuteLength} minute read`} 
            title={post.title}
            description={post.summary}
        />
        </post-container>  
    )}
    </div>

    <p class="feed">Subscribe to <a href="/blog/rss.xml" rel="external">my rss feed <img src="icons/rss-feed-icon.png" alt="rss icon" /></a></p>
</MainLayout>
<style>
  h1 {
    margin: 80px 0;
    text-align: center;
  }
  .feed {
    margin-top: 50px;
    text-align: center;
  }
  .feed img {
    height: 15px;
  }
</style>