---
import MainLayout from '../../layouts/Main.astro'
import Stub from '../../components/ArticleStub.astro';
import BookmarksNav from '../../components/BookmarksNav.astro';

import { videos } from '../../data/bookmarks';

export const getStaticPaths = async ({ paginate, rss }) => paginate(videos, { pageSize: 25 });
---

<MainLayout title="Bookmarks">
    <BookmarksNav />

    <div class="staggered">
        {videos.map((video, i) => 
            <post-container style={`--index: ${i}`}>
                <Stub 
                    url={video.link} 
                    meta={`${video.speaker} • ${video.uploadedAt}`} 
                    title={video.title}
                    hint={video.description}
                />
            </post-container>
        )}
    </div>
    <p class="feed">Subscribe to <a href="/videos.xml" rel="external">my videos feed <img src="icons/rss-feed-icon.png" alt="rss icon" /></a></p>
</MainLayout>

<style>
    h1 {
        margin: 80px 0;
        text-align: center;
    }
    .feed {
        margin-top: 50px;
        text-align: center;
    }
    .feed img {
        height: 15px;
    }
</style>
