---
import MainLayout from '../layouts/Main.astro'

import NameSection from '../components/NameSection.astro';
import TitleSection from '../components/TitleSection.astro';
import Stub from '../components/Stub.astro';

import { getVideos } from '../data/videos';
import { reads } from '../data/bookmarks';
import { projects } from '../data/projects';
import { MdOrMdxFile, getSlugs } from '../data/blogs';
import ProjectStub from '../components/ProjectStub.astro';
import BlogStub from '../components/article/BlogStub.astro';

const posts = await getSlugs(await Astro.glob('./blog/*.md*') as MdOrMdxFile[]);
const videos = await getVideos();
---

<MainLayout title="Home">
	<NameSection />

	<TitleSection title="Blog" link="/blog" staggered>
		{posts.slice(0, 5).map((post, i) =>
			<post-container style={`--index: ${i}`}>
				<BlogStub {...post} />
			</post-container>
		)}
	</TitleSection>

	<TitleSection title="Videos" link="https://www.youtube.com/emnudge">
		<div class="videos staggered">
			{videos.map((video, i) => 
				<a href={`https://www.youtube.com/watch?v=${video.id}`} class="video" style={`--index: ${i}`}>
					<img alt="" src={video.img} />
					<h3>{video.title}</h3>
				</a>
			)}
		</div>
	</TitleSection>

	<TitleSection title="What I'm Reading" link="/reads" staggered>
		{reads.slice(0, 5).map((read, i) =>
			<post-container style={`--index: ${i}`}>
				<Stub 
					url={read.link} 
					meta={`${read.author} • ${read.createdAt}`} 
					title={read.title}
				/>
			</post-container>
		)}
	</TitleSection>

	<TitleSection title="Notable Projects" staggered>
		<ul class="projects">
			{projects.map((props) => <ProjectStub {...props} />)}
		</ul>
	</TitleSection>
</MainLayout>


<style>
	.videos {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}
	@media screen and (max-width: 450px) {
		.videos {
			grid-template-columns: 1fr;
		}
	}
	.video {
		color: var(--forground);
		box-sizing: border-box;
		display: block;
		position: relative;
		width: 320px;
		transition: .25s;
		width: 100%;
		padding: 24px;
		box-sizing: border-box;
	}
	.video h3 {
		margin-top: 10px;
		font-weight: 300;
	}
	.video > * {
		transition: .25s;
	}
	.video:hover {
		background: var(--light-bg);
	}
	.video img {
		width: 100%;
	}

	.projects {
		list-style: none;
		display: grid;
		gap: 1rem;
		padding: 0 1rem;
	}
</style>
