---
import MainLayout from '../layouts/Main.astro'
import Stub from '../components/ArticleStub.astro';

import { reads } from '../data/reads';
---

<MainLayout title="What I'm Reading">
    <h1>What I'm Reading</h1>

    <div class="staggered">
        {reads.map((read, i) => 
            <post-container style={`--index: ${i}`}>
                <Stub 
                    url={read.link} 
                    meta={`${read.author} • ${read.createdAt}`} 
                    title={read.title}
                    hint={read.description}
                />
            </post-container>
        )}
    </div>
</MainLayout>

<style>
    h1 {
        margin: 80px 0;
        text-align: center;
    }
</style>