---
import MainLayout from "../layouts/Main.astro";
import VideoStub from "../components/VideoStub.astro";
import BookmarksNav from "../components/BookmarksNav.astro";

import { videos } from "../data/bookmarks";
import Tags from "../components/Tags.astro";

const tags = [...new Set(videos.map((video) => video.tags.split(",")).flat())];

export async function getStaticPaths({ paginate }) {
	return paginate(videos, { pageSize: 25 });
}
---

<MainLayout title="Bookmarks">
    <BookmarksNav />

    <Tags tags={tags} itemSelector='post-container' />

    <div class="staggered">
        {videos.map((video, i) =>
            <post-container style={`--index: ${i}`} data-tags={video.tags}>
                <VideoStub
                    url={video.link}
                    title={video.title}
                    speaker={video.speaker}
                    uploadedAt={video.uploadedAt}
                    tags={video.tags}
                />
            </post-container>
        )}
    </div>
    <p class="feed">Subscribe to <a href="/videos.xml" rel="external">my videos feed <img src="/icons/rss-feed-icon.png" alt="rss icon" /></a></p>
</MainLayout>

<style>
    h1 {
        margin: 80px 0;
        text-align: center;
    }
    .feed {
        margin-top: 50px;
        text-align: center;
    }
    .feed img {
        height: 15px;
    }
</style>
