---
const {
    url,
    meta,
    title,
    description = undefined,
    index = 0,
    hint = ''
} = Astro.props;
    console.log(Astro.props)
---

<a href={url} class="post-stub" style={`--index: ${index}`} title={hint}>
    <h5>{meta}</h5>
    <h2>{title}</h2>
    {description && <p>{description}</p>}
</a>

<style>
    a {
        padding: 20px;
        display: block;
        color: var(--foreground);
        border-bottom: 1px solid var(--light-bg);
    }
    a:hover {
        background: var(--light-bg);
        cursor: pointer;
    }
    h5 {
        opacity: 0.5;
        font-weight: 300;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        padding-top: 10px;
        opacity: 0.8;
    }
</style>
