---
const defaultIcons = [
	["/icons/email.svg", "email", "mailto:contact@emnudge.dev"],
	["/icons/github.svg", "GitHub", "https://github.com/EmNudge"],
	["/icons/youtube.svg", "YouTube", "http://youtube.com/EmNudge"],
	["/icons/bsky.svg", "Bluesky", "https://bsky.app/profile/emnudge.dev"],
	["/icons/devto.svg", "Dev.to", "https://dev.to/emnudge"],
];

const {
	icons = defaultIcons,
	small = false,
	translucent = false,
	staggered = false,
} = Astro.props;

const classes = [staggered && "staggered", translucent && "translucent"]
	.filter(Boolean)
	.join(" ");
---

<div class={classes}>
    {icons.map(([iconUrl, name, link], i) => 
        <a href={link} style={`--index: ${i}`}>
            <img class={`dark-mode ${small ? 'small' : ''}`} src={iconUrl} alt={name} />
        </a>
    )}
</div>

<style>
    div {
        display: flex;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    a img {
        height: 20px;
        padding: 10px;
        opacity: .8;
        transition: 0.2s;
    }
    .translucent a img {
        opacity: .5;
    }
    a:hover img, .translucent a:hover img {
        opacity: 1;
    }
    img.small {
        height: 15px;
        padding: 8px;
    }
</style>
