---
import { DISCUSSION_SITES, type DiscussionSite } from "../data/blogs";

interface Props {
	url: string;
	meta: string;
	title: string;
	description?: string;
	discussions?: { site: DiscussionSite; url: string }[];
	withDivider?: boolean;
}

const {
	url,
	meta,
	title,
	description,
	discussions,
	withDivider = true,
} = Astro.props;
---

<div class={"post-stub" + (withDivider? " with-divider" : "")}>
    <h5>
        <div class="meta">{meta}</div>
        {discussions && <div class="discussions">
            <div class="divider"></div>
            {discussions.toSorted((a, b) => a.site.localeCompare(b.site)).map(disc => <a href={disc.url}>
                <img class="icon-dark" src={DISCUSSION_SITES[disc.site].dark} alt={disc.site} />
                <img class="icon-light" src={DISCUSSION_SITES[disc.site].light} alt={disc.site} />
            </a>)}
        </div>}
    </h5>
    <a href={url}>
        <h2>{title}</h2>
        {description && <p>{description}</p>}
    </a>
</div>

<style>
    .post-stub {
        display: block;
        color: var(--foreground);
    }
    .post-stub.with-divider {
        padding: 1rem;
        margin: 0 -1rem;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--light-bg);
    }
    .post-stub.with-divider:hover {
        background: var(--light-bg);
        border-radius: 9px;
        border: 1px solid #ffffff29;
    }
    a {
        color: inherit;
        cursor: pointer;
    }
    h2 {
        line-height: 1.5;
    }
    h5 {
        font-weight: 300;
        margin-bottom: 5px;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    h5 .meta {
        color: var(--muted);
    }
    .discussions {
        display: flex;
        gap: 0.5rem;
    }
    .discussions .divider {
        border-left: 1px solid #fff3;
        padding-right: 0.1rem;
    }
    .discussions a {
        padding: 0;
        display: flex;
        align-items: center;
    }
    .discussions img {
        height: 0.75rem;
    }
    .discussions .icon-light {
        display: none;
    }
    @media (prefers-color-scheme: light) {
        .discussions .icon-dark {
            display: none;
        }
        .discussions .icon-light {
            display: block;
        }
    }
    :global(:root.light) .discussions .icon-dark {
        display: none;
    }
    :global(:root.light) .discussions .icon-light {
        display: block;
    }
    p {
        margin: 0;
        padding-top: 10px;
        color: var(--light-foreground);
        line-height: 1.8;
    }
</style>
