---
interface Props {
    url: string;
    meta: string;
    title: string;
    description?: string;
    discussions?: { site: string; url: string }[];
    withDivider?: boolean;
}

const {
    url,
    meta,
    title,
    description,
    discussions,
    withDivider = true,
} = Astro.props;
---

<div class={"post-stub" + (withDivider? " with-divider" : "")}>
    <h5>
        <div class="meta">{meta}</div>
        {discussions && <div class="discussions">
            <div class="divider"></div>
            {discussions.map(disc => <a href={disc.url}>
                <img src={`/icons/${disc.site}.png`} alt={disc.site} />
            </a>)}
        </div>}
    </h5>
    <a href={url}>
        <h2>{title}</h2>
        {description && <p>{description}</p>}
    </a>
</div>

<style>
    .post-stub {
        display: block;
        color: var(--foreground);
    }
    .post-stub.with-divider {
        padding: 1rem;
        margin: 0 -1rem;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--light-bg);
    }
    .post-stub.with-divider:hover {
        background: var(--light-bg);
        border-radius: 9px;
        border: 1px solid #ffffff29;
    }
    a {
        color: inherit;
        cursor: pointer;
    }
    h2 {
        line-height: 1.5;
    }
    h5 {
        font-weight: 300;
        margin-bottom: 5px;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    h5 .meta {
        opacity: 0.5;
    }
    .discussions {
        display: flex;
        gap: 0.5rem;
    }
    .discussions .divider {
        border-left: 1px solid #fff3;
        padding-right: 0.1rem;
    }
    .discussions a {
        padding: 0;
        display: flex;
        align-items: center;
    }
    .discussions img {
        height: 0.75rem;
    }
    p {
        margin: 0;
        padding-top: 10px;
        opacity: 0.8;
        line-height: 1.8;
    }
</style>
